.total-amount { 
  text-align: center;
  margin-bottom: 25px; 
}

.textAmount {
  background: black;
  color: white;
  border: none;
  text-align: right;
  max-width: 90px;
}

ion-textarea {
  background: rgba(25, 28, 32, .8);
  //border: 1px solid white;
  border-radius: 25px;
  height: 110px;
  color: white;
  padding: 5px 10px;
}

.price { p {display: inline-block;} }

.item {
  grid-template-columns: auto 80px !important;

  .right {
    padding-right: 0 !important;
    display: grid;
    grid-template-columns: 27.5% 35% 27.5%;
    grid-column-gap: 2%;
    text-align: center !important;
    align-items: center;
  
    ion-icon {
      font-size: 22px;
    }
  }
}
