<ion-content>
  <div class="main">
    <div class="header">
      <div class="back">
        <div class="container">
          <ion-back-button class="light-icon-button" text="" icon="arrow-round-back"></ion-back-button>
        </div>
      </div>
    </div>
    
    <div class="content">
      <div class="title">
        <div class="container">
          <h1>Proceed with the Order</h1>
        </div>
      </div>

      <!-- Starts NFC-Scan -->
      <div class="continue">
        <div class="container">
          <ion-button color="primary" expand="block" (click)="ReadTag()">Confirm Order</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>