<ion-content>
  <div class="main">
    <div class="header">
      <div class="top-bar">
        <div class="left">
          <div class="back">
            <ion-back-button class="light-icon-button" text="" icon="arrow-round-back"></ion-back-button>
          </div>
        </div>
        <div class="right">
          <div class="icon service">
            <!-- <ion-icon *ngIf="allServices.length > 0 && showButton" class="light-icon-button" (click)="presentServices()" name="settings"></ion-icon> -->
          </div>
          <div class="icon cart">
            <ion-icon (click)="navigateCart(barId)" class="light-icon-button" name="cart"></ion-icon>
            <!-- Number of menu items added, show only if at least one menu item is added-->
            <ion-badge name="items" *ngIf="flagbadge" color="danger">{{items}}</ion-badge>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card-header">
      <div style="background: linear-gradient(to bottom, rgba(17, 19, 22, 0) 0%, rgba(17, 19, 22, 1) 100%), 
      url('../../assets/images/geschmacker.jpg') no-repeat center center; background-size: cover; width: 100%; height: 300px;"></div>
    </div>

    <div class="content">
      <div class="title">
        <div class="container">
          <h2>{{ 'MENUCARDS.shisha' | translate }}</h2>
          <p>{{ 'MENUCARDS.info' | translate }}</p>
        </div>
      </div>

      <div class="main-items">
        <!-- Select cateogries -->
        <div class="small-buttons">
          <p class="small-button" (click)="onSelectChange(c.categoryId,c)" 
          [ngClass]="{'small-button-active': c.active}"
          *ngFor="let c of categories;let a = index">{{c.categoryName}} 
          <span class="sPrice">{{c.price}}</span> €
          </p>
        </div>
        <div class="container">
          <ion-list class="menu-items">
            <div *ngFor="let m of allMenuItems">
              <div class="menu-item" *ngIf="m.status == 'active' && m.itemAmount > 0" (click)="addToCart(m)">
                <div class="left">
                  <!-- Menu item name-->
                  <p class="p-title">{{m.itemName}}</p>
                  <!-- By default no price here, let "-" as default -->
                  <p>-</p>
                </div>
                <div class="right">
                  <!-- Only show cart icon if the bar has the 2nd package -->
                  <div class="cart" *ngIf="showCart">
                    <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  </div>
                </div>
              </div>
              <div class="menu-item" *ngIf="m.status == 'active' && m.itemAmount == '' && m.itemAmount != '0'" (click)="addToCart(m)">
                <div class="left">
                  <!-- Menu item name-->
                  <p class="p-title">{{m.itemName}}</p>
                  <!-- By default no price here, let "-" as default -->
                  <p>-</p>
                </div>
                <div class="right">
                  <!-- Only show cart icon if the bar has the 2nd package -->
                  <div class="cart" *ngIf="showCart">
                    <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  </div>
                </div>
              </div>
              <div class="menu-item disabled" *ngIf="m.status == 'active' && m.itemAmount == '0'" (click)="disabledAlert(m)">
                <div class="left">
                  <!-- Menu item name-->
                  <p class="p-title">{{m.itemName}}</p>
                  <!-- By default no price here, let "-" as default -->
                  <p>-</p>
                </div>
                <div class="right">
                  <!-- Only show cart icon if the bar has the 2nd package -->
                  <div class="cart" *ngIf="showCart">
                    <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  </div>
                </div>
              </div>
              <div class="menu-item disabled" *ngIf="m.status == 'disable' && m.itemAmount >= 0" (click)="disabledAlert(m)">
                <div class="left">
                  <!-- Menu item name-->
                  <p class="p-title">{{m.itemName}}</p>
                  <!-- By default no price here, let "-" as default -->
                  <p>-</p>
                </div>
                <div class="right">
                  <!-- Only show cart icon if the bar has the 2nd package -->
                  <div class="cart" *ngIf="showCart">
                    <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  </div>
                </div>
              </div>
              <div class="menu-item disabled" *ngIf="m.status == 'disable' && m.itemAmount == '0'" (click)="disabledAlert(m)">
                <div class="left">
                  <!-- Menu item name-->
                  <p class="p-title">{{m.itemName}}</p>
                  <!-- By default no price here, let "-" as default -->
                  <p>-</p>
                </div>
                <div class="right">
                  <!-- Only show cart icon if the bar has the 2nd package -->
                  <div class="cart" *ngIf="showCart">
                    <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </ion-list>
        </div>

      </div>

    </div>

  </div>
</ion-content>