<ion-content>
  <div class="main">
    <div class="container">
      <div class="header">
        <div class="back">
          <ion-back-button class="light-icon-button" text="" icon="arrow-round-back"></ion-back-button>
        </div>
      </div>
    
      <div class="content">
        <div class="title">
          <h1>{{ 'GENERAL.titlePasswordReset' | translate }}</h1>
          <p>{{ 'GENERAL.subtitlePasswordReset' | translate }}</p>
        </div>

        <ion-list class="form">
          <ion-item lines="none">
            <ion-input [(ngModel)]="email" name="email" class="input" type="email" placeholder="Email"></ion-input>
          </ion-item>
        </ion-list>
    
        <div class="login">
          <ion-button color="primary" expand="block" (click)="reset()">{{ 'GENERAL.passwordReset' | translate }}</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
  