<ion-header>
  <div class="black-bg">
    <div class="container">
      <div class="grid-2">
        <div class="grid-item">
          <img src="../../assets/images/app_icon.png">
          <p>  Hi! I'm your Table Waiter... <br> Ready to order ?</p>
          <!-- <p>{{ 'HOME.title' | translate }}</p> -->
        </div> 
        <div class="grid-item">
          <!-- Redirect to userProfile -->
          <ion-icon name="contact" (click)="navigateProfile()"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  
  <!-- All nearby bars listed-->
  <ion-list class="bars">
    <ion-card class="bar" *ngFor="let b of categories" >
      <!-- Single bar: Image is set from the bar gallery (always first image, as set by bar owner) -->
      <ion-img [src]="b.image" (click)="navigateMenu(b.categoryName)"></ion-img>
  
      <ion-card-header>
        <!-- Bar name -->
        <ion-card-title style="float: left;" (click)="navigateMenu(b.categoryName)">{{b.cName}}</ion-card-title>
        <ion-button style="float: right;border-radius: 0px !important;margin-top: -10px !important;" color="white" expand="block" 
        (click)="navigateMenu(b.categoryName)">Order</ion-button>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <!-- Redirect to search, this part needs to be outside cause of iOS Bug -->
  <!-- <div class="search">
    <ion-button color="white" expand="block" (click)="navigateSearch()"><ion-icon slot="start" name="search"></ion-icon>{{ 'HOME.searchnow' | translate }}</ion-button>
  </div> -->
</ion-content>
